.homes {
    // background-color: $color-secondary;
    grid-column: center-start / center-end;
    margin: 15rem 0;
    // making grid item to a grid container
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
}

.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $color-grey-light-1;
   
    &__img {
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    &__like{
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-primary;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: flex-end;
        margin: 1rem;
    }

    &__name {
        grid-column: 1 / -1;
        width: 80%;
        justify-self: center;
        background-color: $color-secondary;
        color: #fff;
        padding: 1.6rem;
        font-family: $font-display;
        font-weight: 400;
        font-size: 2rem;
        text-align: center;
    }

    &__location,
    &__room,
    &__area,
    &__price {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem;
        align-items: center;
        justify-items: center;
        svg {
            fill: $color-primary;
            height: 2rem;
            width: 2rem;
            // justify-self: flex-end;
        }
        p{
            font-size: 1.5rem;
            // justify-self: flex-start
        }
    }

    &__btn {
        grid-column: 1 / -1;
    }
}